@charset "utf-8";

html * {
  font-family: 'Source Code Pro', monospace;
}

body {
  margin: 0;
  background-color: #47434C;
  color: #F7F7F7;
}

h1 {
  font-size: 16px;
  font-weight: 400;
}

h4 {
  margin: 0;
}

fieldset {
  width: 80%;
  margin: auto;
}

hr {
  width: 90%;
}

#main_wrapper {
  background-color: #39363D;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 500px;
  height: 100%;
}

.text_align_object {
  text-align: center;
}
