@charset "utf-8";

html * {
  font-family: 'Source Code Pro', monospace;
}

body {
  background-color: #47434C;
  color: #F7F7F7;
}

fieldset {
  width: 80%;
  margin: auto;
}

#title_info {
  text-align: center;
  flex: 1;
}

#main_form {
  text-align: center;
  flex: 1;
}

#main_wrapper {
  overflow: auto;
  width: 500px;
  /* display: flex;
  flex-direction: column; */
  margin: auto;
  background-color: #39363D;
}
