@charset "utf-8";

html * {
  font-family: 'Source Code Pro', monospace;
}

body {
  margin: 0;
  background-color: #47434C;
  color: #F7F7F7;
}

h1 {
  font-size: 16px;
  font-weight: 400;
}

h4 {
  margin: 5px;
  padding-bottom:15px;
}

fieldset {
  width: 80%;
  margin: auto;
}

input[type=submit], input[type=reset] {
  border: none;
  background-color: #47434C;
  color: #F7F7F7;
  padding: 10px 30px;
  font-size: 13px;
}

input[type=submit]:active, input[type=reset]:active {
  background-color: #943100;
}

hr {
  width: 90%;
}

#background_fill {
  background-color: #39363D;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 500px;
  height: 100%;
}

#main_wrapper {
  background-color: #39363D;
  width: 500px;
}

.text_align_object {
  text-align: center;
}
